<!DOCTYPE html>ead>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
This is the admin page
<br />
Logged user: <span th:if="${user} != null" th:text="${user.name}"></span>
<br />
<a href="/logout">logout</a>
</body>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
This is the index page.
<br />
Logged user: <span th:if="${user} != null" th:text="${user.name}"></span>
<br />
<a href="/admin">admin</a>
<a href="/logout">logout</a>
</body>
</html>